node_modules/
# Environment files
.env

# Google Cloud credentials
# Ignore service account key
backend/config/rockland-service-account.json


# Python bytecode cache
__pycache__/

# Next.js build output
frontend-web/.next/

# Google Cloud credentials
config/*.json
secrets.txt
