Flask==2.3.3
Flask-CORS==4.0.0
Flask-SQLAlchemy==3.0.5
python-dotenv==1.0.0
psycopg2-binary==2.9.7
bcrypt==4.0.1
flask-bcrypt==1.0.1
PyJWT==2.8.0
stripe==6.5.0
torch==2.0.1
torchvision==0.15.2
numpy<2.0.0
google-cloud-storage==2.10.0
Werkzeug==2.3.7
gunicorn==21.2.0
humanize==4.8.0
resend>=0.6.0